.nav {
  margin-top: 200px;
}
html {
  background: url(../img/la.jpg) no-repeat center center fixed;
  background-size: cover;
}

.form__error {
  display: none;
  color: white;
  margin: 0 20px 20px 20px;
  padding-left: 10px;
  background-color: #f44336;
  border-radius: 5px;
}
.form__avatar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form__avatar__canvas {
  width: 320px;
  height: 240px;
}
.form__avatar__video{
  width: 320px;
  height: 240px;
}





