.nav {
  margin-top: 30px;
}
.nav-top {
  margin-top: 200px;
}
.enemy__real__card{
  list-style: none;
}
.card__place{
  height: 180px;
  width: 100%
}
.playing_card{
  z-index: 10;
  width: 120px;
  margin-left: 15px;
  margin-bottom: 20px;
  list-style: none;
}
#user_stack{
  margin-top:45px;
}
#restart_button{
   position: absolute;
   top: 540px;
   left: 610px;
   display:none;
   height: 70px;
   width: 60px;
   background-image: url(../../img/cards/button.png);
   background-size: cover;
 }
 #restart_button:hover{
   background-image: url(../../img/cards/button1.png);
   top: 540px;
   left: 600px;
   height: 60px;
   width: 70px;
 }

.my_health{
  color: #26A69A;
  position: absolute;
  top: 35px;
  left: 340px;
  font-size: 20px;
}
.his_health{
  color: brown;
  position: absolute;
  top: 35px;
  left: 840px;
  font-size: 20px;
}
.score{
  width: 240px;
  height: 90px;
  position: absolute;
  left: 520px;
  top: 100px;
}
.score__span__vs{
  font-size: 44px !important;
  color: #ada695;
  margin: 10px;
}
.score span{
  font: 52pt/40pt sans-serif;
}
.my{
  color: #26A69A;
}
.not_my{
  color: #940d13;
}
#waiter{
  width:100%;
  height:100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: gray;
  z-index:350;
  opacity: 0.7;
}
.waiter__span{
  position: fixed;
  top: 200px;
  left: 550px;
}
.flame__enemy{
  margin-top:10px;
  margin-left:25px;
  position:absolute;
  z-index: 100;
  display: none;

}
.flame__my{
  margin-top:10px;
  margin-left:25px;
  position:absolute;
  z-index: 100;
  display: none;
}
#button_done{
  display: none;
}
html {
  background: url(../img/la.jpg) no-repeat center center fixed;
  background-size: cover;
}
.form__error {
  display: none;
  color: white;
  margin: 0 20px 20px 20px;
  padding-left: 10px;
  background-color: #f44336;
  border-radius: 5px;
}
.form__avatar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form__avatar__canvas {
  width: 320px;
  height: 240px;
}

.form__avatar__video {
  width: 320px;
  height: 240px;
}
#content-game {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}
.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}
#cardSlots,
#cardSlots2 {
  margin: 50px auto 50px auto;
  background: #ddf;
}
#cardPile,
#cardPile2 {
  margin: 0 auto;
  background: #ffd;
}
#cardSlots,
#cardSlots2 {
  width: 270px;
  height: 120px;
  padding: 10px 40px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
}
#cardPile,
#cardPile2 {
  height: 110px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
}
#cardSlots div,
#cardPile div,
#cardSlots2 div,
#cardPile2 div {
  float: left;
  width: 58px;
  height: 60px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}
#cardSlots div:first-child,
#cardPile div:first-child,
#cardSlots2 div:first-child,
#cardPile2 div:first-child {
  margin-left: 0;
}
#cardSlots div.hovered,
#cardSlots2 div.hovered {
  background: #aaa;
}
#cardSlots div,
#cardSlots2 div {
  border-style: dashed;
}
#cardPile div,
#cardPile2 div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}
#cardPile div.ui-draggable-dragging,
#cardPile2 div.ui-draggable-dragging {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
}
#card1.correct {
  background: red;
}
#card2.correct {
  background: brown;
}
#card3.correct {
  background: orange;
}
#card4.correct {
  background: yellow;
}
#card5.correct {
  background: green;
}
#card6.correct {
  background: cyan;
}
#card7.correct {
  background: blue;
}
#card8.correct {
  background: indigo;
}
#card9.correct {
  background: purple;
}
#card10.correct {
  background: violet;
}
#card11.correct {
  background: red;
}
#card12.correct {
  background: brown;
}
#card13.correct {
  background: orange;
}
#card14.correct {
  background: yellow;
}
#card15.correct {
  background: green;
}
#card16.correct {
  background: cyan;
}
#card17.correct {
  background: blue;
}
#card18.correct {
  background: indigo;
}
#card19.correct {
  background: purple;
}
#card20.correct {
  background: violet;
}
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.8);
  padding: 20px;

}





