.rightBar{
    width: 219px;
    height: 100%;
    padding: 75px 35px 0 45px;
    box-sizing: border-box;
}
.leftBar{
    width: 219px;
    height: 100%;
    padding: 75px 35px 0 45px;
    box-sizing: border-box;
}
#table{
    height: 100%;
    width: 51%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 80px 0;
}
.leftBar{
    width: 210px;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 41px 19px 36px;
}
.rightBar {
    width: 210px;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 41px 19px 36px;
}
#sortable1{
    width: 120px;
    height: 300px;
    margin: 0 auto;
}
#sortable1 li{
    margin-bottom: 20px;
}

#sortable2 {
    width: 120px;
    height: 300px;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px #fff;
    background: rgba(255,255,255,0.3);
}

#sortable2 li {
    margin-bottom: 20px;
}

.playing_card{
    z-index: 10;
    width:155px;
    padding-bottom: 13px;
}
img{
     cursor: -webkit-grabbing;
}

.your__score {

    width: 120px;
    height: 120px;
    color: #940d13;
    position: absolute;
    left: 230px;
    top: 20px;

}
.enemy__score{
    width: 120px;
    height: 120px;
    color: #940d13;
    position: absolute;
    left: 1011px;
    top: 20px;
}

.User__VS__User{
    width: 199px;
    height: 25px;
    color: #940d13;
    position: absolute;
    left: 582px;
    top: 16px;
    font-family: cursive;
    font-size: 20px;
}

